Package: xscreensaver-gl
Source: xscreensaver
Version: 5.36-1
Architecture: amd64
Maintainer: Tormod Volden <debian.tormod@gmail.com>
Installed-Size: 9864
Depends: libc6 (>= 2.15), libgdk-pixbuf2.0-0 (>= 2.22.0), libgl1-mesa-glx | libgl1, libglib2.0-0 (>= 2.12.0), libglu1-mesa | libglu1, libice6 (>= 1:1.0.0), libsm6, libx11-6, libxext6, libxft2 (>> 2.1.1), libxmu6, libxpm4, libxt6, libxxf86vm1
Suggests: xscreensaver
Section: x11
Priority: optional
Homepage: http://www.jwz.org/xscreensaver/
Description: GL(Mesa) screen saver modules for screensaver frontends
 XScreenSaver is a modular screen saver and locker for X11,
 containing more than 200 screen savers.
 .
 This package contains a small selection of 3D (OpenGL) screen saver
 modules from the xscreensaver collection. This package can be used by
 xscreensaver and also some other screensaver engines.
 .
 This is the set of GL screensavers shipped by default:
 antinspect, antspotlight, atunnel, blinkbox, bubble3d, circuit,
 cityring, cubestack, cubestorm, cubetwist, discoball, dymaxionmap,
 endgame, energystream, engine, flipflop, flipscreen3d, flyingtoasters,
 gears, geodesic, geodesicgears, gflux, glblur, glcells, gleidescope,
 glknots, glmatrix, glschool, glslideshow, glsnake, gltext, hexstrut,
 hydrostat, hypertorus, jigglypuff, kaleidocycle, lavalite, lockward,
 mirrorblob, moebius, moebiusgears, molecule, morph3d, pipes, polyhedra,
 polytopes, projectiveplane, pulsar, quasicrystal, queens, raverhoop,
 romanboy, sierpinski3d, sonar, spheremonics, splitflap, splodesic,
 stonerview, superquadrics, topblock, unicrud, voronoi, winduprobot.
 .
 More display modes can be found in the xscreensaver-data,
 xscreensaver-data-extra and xscreensaver-gl-extra packages.
