Package: xscreensaver-gl-extra
Source: xscreensaver
Version: 5.36-1
Architecture: amd64
Maintainer: Tormod Volden <debian.tormod@gmail.com>
Installed-Size: 10665
Depends: libc6 (>= 2.14), libgdk-pixbuf2.0-0 (>= 2.22.0), libgl1-mesa-glx | libgl1, libgle3, libglib2.0-0 (>= 2.12.0), libglu1-mesa | libglu1, libice6 (>= 1:1.0.0), libsm6, libx11-6, libxext6, libxft2 (>> 2.1.1), libxmu6, libxpm4, libxt6, libxxf86vm1, xscreensaver-gl
Section: x11
Priority: optional
Homepage: http://www.jwz.org/xscreensaver/
Description: Extra GL(Mesa) screen saver modules for screensaver frontends
 XScreenSaver is a modular screen saver and locker for X11,
 containing more than 200 screen savers.
 .
 This package contains the rest of the 3D (OpenGL) screen saver
 modules from the xscreensaver collection. This package can be used by
 xscreensaver and also some other screensaver engines.
 .
 This is the set of GL screensavers not shipped by default with
 xscreensaver-gl:
 antmaze, atlantis, blocktube, boing, bouncingcow, boxed, cage,
 carousel, companioncube, crackberg, cube21, cubenetic, cubicgrid,
 dangerball, extrusion, fliptext, flurry, glhanoi, glplanet,
 hilbert, hypnowheel, jigsaw, juggler3d, klein, lament, menger, noof,
 photopile, pinion, providence, rubik, rubikblocks, sballs, skytentacles,
 sproingies, stairs, starwars, surfaces, tangram, timetunnel, tronbit,
 unknownpleasures.
 .
 More display modes can be found in the xscreensaver-data,
 xscreensaver-data-extra and xscreensaver-gl packages.
